# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# prompts
.prompt-templates/landing-*
